body {
  padding: 100px;
  font-family: helvetica, sans-serif;
  background-color: black;
}

.pure-g {
  margin-bottom: 25px;
  text-align: center;
}

.pure-u-1 {
  box-sizing: border-box;
}

.wit{
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
}

p {
  margin-bottom: 25px;
  text-align: left;
  line-height: 1.6em;
}

li {
  display: inline;
  padding: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: pink;
}

img {
  width: 45%;
  padding: 2%;
}
.footer{
  color: mistyrose;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 650px) {
  li {
    margin-right: 10px;
    padding: 10px;
      }
  h1{
    font-size: 2em;
    margin-top: -40px;
  }
  h2{
    font-size: 1.2em;
  }
  p{
    font-size: 0.8em;
  }
}
