<head><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88612436-1', 'auto');
  ga('send', 'pageview');

</script></head>
<div class="pure-g">
      <div class="pure-u-1">
            <h1>PORTFOLIO</h1>
      </div>
      <div class="pure-u-1">
               <ul>
                     <li><a href="#">HOME</a></li>
                     <li><a href="#">ABOUT</a></li>
                     <li><a href="#">WORK</a></li>
               </ul>

      </div>
      <div class="pure-u-1 pure-u-md-3-4 wit">
            <h2>Een beetje uitleg</h2>
              <p>Deze werken zijn een kleine selectie van opdrachten die ik tot nu toe heb gekregen. Ik volg grafische en digitale media op de AP Hogeschool, en zit momenteel in het midden van mijn 2de jaar. Ik heb al enorm veel taken gemaakt en die hebben me elke keer enorm veel tijd en moeite gekost, maar ik vind persoonlijk dat 90% van de gevallen het niet waard zijn om op een portfoliosite terecht te komen.</p></div>

<div class="pure-u-1 pure-u-md-1-2">
  <img src="https://s-media-cache-ak0.pinimg.com/564x/fb/66/af/fb66af615991731f8041cf5790eb6cfa.jpg"></img>
  <img src="https://s-media-cache-ak0.pinimg.com/564x/31/3e/75/313e7581e9ff67cfcb9ab8bdd069e1bb.jpg"></img></div>

<div class="pure-u-1 pure-u-md-1-2">
  <img src="https://s-media-cache-ak0.pinimg.com/564x/0b/75/d0/0b75d06ad10ecf73809fb9935a2076d5.jpg"></img>
  <img src="https://s-media-cache-ak0.pinimg.com/564x/d4/89/35/d489356eaab6d4e9a4d9740f73e748ad.jpg"></img></div>

<div class="pure-u-1 pure-u-md-1-2">
   <img src="https://s-media-cache-ak0.pinimg.com/564x/5e/4e/e0/5e4ee0d6024c4eea6bb1c674db23c893.jpg"></img>
   <img src="https://s-media-cache-ak0.pinimg.com/564x/1b/85/f7/1b85f799acc2e9690889723686170b27.jpg"></img></div>

<div class="pure-u-1 pure-u-md-1-2">
  <img src="https://s-media-cache-ak0.pinimg.com/564x/cb/bb/51/cbbb517a8f65e495c85c1066e1f4fd2d.jpg"></img>
  <img src="https://s-media-cache-ak0.pinimg.com/564x/ba/06/ce/ba06ce438314a67b37338e49fb304c19.jpg"></img></div>
</div>
<div class="pure-u-1">
  <p class="footer">Lisa Mijlemans</p>
</div>
